{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "root": "./",
          "client": "./client",
          "components": "./client/components",
          "pages": "./pages",
          "styles": "./client/styles",
          "layouts": "./client/components/layouts",
          "helpers": "./client/helpers"
        }
      }
    ],
    ["inline-react-svg"]
  ]
}
